@model Hotel_Tamagotchi.Models.ViewModels.RoomViewModel
@{
    ViewBag.Title = "Detail";
}

@using (Html.BeginForm())
{
    <h2>Please check your reservation</h2>
    <h3>Room number: @Model.Room.ID</h3>
    <h3>Amount of Tamagotchis: @Model.AmountOfTamagotchis</h3>
    foreach (var tamagotchi in Model.Tamagotichis)
    {
        <p>@tamagotchi.Name</p>
    }

    <input type="submit" value="Confirm" class="btn btn-default" />
}



