@model Hotel_Tamagotchi.Helpers.ReservationHelper

@{
    ViewBag.Title = "SelectAmount";
}

<h2>Step 1</h2>
<p>Please select the amount of tamagotchis you would like to join the room:</p>
<div class="col-md-10">
    @Html.DropDownListFor(Model => Model.SelectedAmountOfTamagotchis, new SelectList(Model.AmountOfTamagotchisOptionList))
    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
</div>
<br />
@Html.ActionLink("Next", "ConfirmSelectAmount", Model.SelectedRoom)
